<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
  <meta name="format-detection" content="telephone=no" />
  <title>PC 마크업 리스트 - LLoyd</title>
  <!-- .icon -->
  <link rel="shortcut icon" href="../../assets/images/favicon.ico" />
  <link
      rel="stylesheet"
      type="text/css"
      href="../../assets/css/fonts.css"
      media="none"
      onload="this.media='all';"
    />
    <link rel="stylesheet" href="../../assets/css/reboot.css">
    <link rel="stylesheet" href="../../assets/css/page.css">
    <link rel="stylesheet" href="./css/guide.css">
    <style>
      .buy-accordion-box li{
        margin-top:20px;
      }

      .buy-accordion-box li:first-child{
        margin-top:0;
      }

      .buy-accordion-box li a{
        display: block;
        border:solid 1px #bdbdbd;
        padding:10px 15px;
        font-size:14px;
        border-left:solid 2px #000;
      }
    </style>
</head>
<body>
  <div class="header" id="header">
    <div class="header-title">
      <button class="title">PC 마크업 리스트</button>
    </div>
  </div>

  <div class="wrapper">
    <!-- container -->
    <div class="container" style="padding-bottom: 100px;">
      
      <div class="cart-extra">
        <div class="inner">
          <div class="cart-extra-text">※ 배포날 기준으로 정리.</div>
        </div>
      </div>
      <div class="cart-like-inner recent">
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            2021.02.25
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="../../html/product-list/w_com_0600_jewelry.html" target="_blank">[상품목록] Jewelry 1depth</a></li>
              <li><a href="../../html/product-list/w_com_0601_earring.html" target="_blank">[상품목록] Earring 2depth</a></li>
              <li><a href="../../html/product-list/w_com_0602_earring.html" target="_blank">[상품목록] Earring 3depth</a></li>
              <li><a href="../../html/product-list/w_com_0601_empty.html" target="_blank">[상품목록] Empty</a></li>
              <li><a href="../../html/product-list/w_com_0603_special.html" target="_blank">[상품목록] New&Release - Special</a></li>
              <li><a href="../../html/product-list/w_com_0602_best.html" target="_blank">[상품목록] New&Release - Best</a></li>
              <li><a href="../../html/product-list/w_com_0602_new.html" target="_blank">[상품목록] New&Release - New</a></li>
              <li><a href="../../html/product-list/w_com_0603_event.html" target="_blank">[상품목록] Event</a></li>
              <li><a href="../../html/product-list/w_com_0605_signature.html" target="_blank">[상품목록] Signature - All</a></li>
              <li><a href="../../html/product-list/w_com_0603_monthly_charm.html" target="_blank">[상품목록] Signature - Monthly Charm</a></li>
              <li><a href="../../html/product-list/w_com_0604.html" target="_blank">[상품목록] Gift</a></li>
              <li><a href="../../html/product-list/w_com_0606.html" target="_blank">[상품목록] L-Diamond</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cart-like-inner" style="margin-top: 60px;">
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            2021.03.02
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="../../html/login/w_tab_main_0104.html" target="_blank">[공통] 로그인 (회원)</a></li>
              <li><a href="../../html/login/w_tab_main_0105.html" target="_blank">[공통] 로그인 (비회원)</a></li>
              <li><a href="../../html/search/w_com_0100.html" target="_blank">[공통] 검색 - 최근 검색어</a></li>
              <li><a href="../../html/search/w_com_0100_no_recent.html" target="_blank">[공통] 검색 - 최근 검색어 없음</a></li>
              <li><a href="../../html/search/w_com_0102.html" target="_blank">[공통] 검색 - 검색결과</a></li>
              <li><a href="../../html/search/w_com_0100_empty.html" target="_blank">[공통] 검색 - 검색결과 없음</a></li>
              <li><a href="../../html/search/w_com_0101.html" target="_blank">[공통] 검색 - 연관 검색어</a></li>
              <li><a href="../../html/product-detail/w_com_0300_chat.html" target="_blank">[공통] 1:1 실시간 상담톡</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cart-like-inner" style="margin-top: 60px;">
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            2021.03.03
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="../../html/customer-service/w_csc_0201.html" target="_blank">[고객센터] 1:1 문의쓰기</a></li>
              <li><a href="../../html/customer-service/w_csc_0201_complete.html" target="_blank">[고객센터] 1:1 문의쓰기 - 입력 후</a></li>
              <li><a href="../../html/customer-service/w_pop_csc_0202.html" target="_blank">[고객센터] 주문상품 조회 팝업</a></li>
              <li><a href="../../html/customer-service/w_pop_csc_0202_empty.html" target="_blank">[고객센터] 주문상품 조회 팝업 - empty</a></li>
              <li><a href="../../html/customer-service/w_tab_csc_0109_close.html" target="_blank">[고객센터] FAQ</a></li>
              <li><a href="../../html/customer-service/w_tab_csc_0109_open.html" target="_blank">[고객센터] FAQ</a></li>
              <li><a href="../../html/customer-service/w_tab_csc_0109_empty.html" target="_blank">[고객센터] FAQ - empty</a></li>
              <li><a href="../../html/customer-service/w_tab_csc_0200_close.html" target="_blank">[고객센터] 나의문의/답변 - 1:1 문의</a></li>
              <li><a href="../../html/customer-service/w_tab_csc_0200_open.html" target="_blank">[고객센터] 나의문의/답변 - 1:1 문의</a></li>
              <li><a href="../../html/customer-service/w_tab_csc_0200_empty.html" target="_blank">[고객센터] 나의문의/답변 - 1:1 문의 empty</a></li>
              <li><a href="../../html/customer-service/w_tab_csc_0300_close.html" target="_blank">[고객센터] 나의문의/답변 - 나의 상품 Q&A</a></li>
              <li><a href="../../html/customer-service/w_tab_csc_0300_open.html" target="_blank">[고객센터] 나의문의/답변 - 나의 상품 Q&A</a></li>
              <li><a href="../../html/customer-service/w_tab_csc_0300_empty.html" target="_blank">[고객센터] 나의문의/답변 - 나의 상품 Q&A empty</a></li>
              <li><a href="../../html/customer-service/w_tab_csc_0400_close.html" target="_blank">[고객센터] 공지사항</a></li>
              <li><a href="../../html/customer-service/w_tab_csc_0400_open.html" target="_blank">[고객센터] 공지사항</a></li>
              <li><a href="../../html/customer-service/w_tab_csc_0400_empty.html" target="_blank">[고객센터] 공지사항 empty</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cart-like-inner" style="margin-top: 60px;">
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            2021.03.04
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="../../html/product-detail/w_com_0700.html" target="_blank">[제품상세] 제품상세</a></li>
              <li><a href="../../html/product-detail/w_com_0700_Q&A_Empty.html" target="_blank">[제품상세] Q&A Empty</a></li>
              <li><a href="../../html/product-detail/w_pop_jwr_0103_Option_first.html" target="_blank">[제품상세] 옵션 첫 진입(선물하기 툴팁)</a></li>
              <li><a href="../../html/today-arriving/w_com_0601_today_arriving_empty.html" target="_blank">[오늘도착] 오늘도착 가능 상품 없는 경우</a></li>
              <li><a href="../../html/today-arriving/w_com_0601_today_arriving_no_deliver.html" target="_blank">[오늘도착] 등록된 배송지 없는 경우</a></li>
              <li><a href="../../html/today-arriving/w_com_0601_today_arriving.html" target="_blank">[오늘도착] 오늘도착 제품 리스트</a></li>
              <li><a href="../../html/today-arriving/w_pop_dlr_0101_add_address.html" target="_blank">[오늘도착] 배송지 등록 팝업</a></li>
              <li><a href="../../html/today-arriving/w_pop_dlr_0101_nonmember.html" target="_blank">[오늘도착] 배송지 등록 팝업(비회원)</a></li>
              <li><a href="../../html/today-arriving/w_pop_jwr_0103_Option_no_deliver.html" target="_blank">[오늘도착] 옵션 팝업 배송지 없을 경우</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cart-like-inner" style="margin-top: 60px;">
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            2021.03.08
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="../../html/cart/w_com_1000.html" target="_blank">[장바구니] 장바구니</a></li>
              <li><a href="../../html/cart/w_com_1000_empty.html" target="_blank">[장바구니] empty</a></li>
              <li><a href="../../html/cart/w_com_1000_popup_option.html" target="_blank">[장바구니] 옵션/수량 변경 팝업</a></li>
              <li><a href="../../html/cart/w_com_1100.html" target="_blank">[장바구니] 주문/결제 - 회원</a></li>
              <li><a href="../../html/cart/w_com_1100_close.html" target="_blank">[장바구니] 주문/결제 - 회원</a></li>
              <li><a href="../../html/cart/w_com_1100_new_address.html" target="_blank">[장바구니] 주문/결제 - 신규배송지</a></li>
              <li><a href="../../html/cart/w_com_1100_popup_gift.html" target="_blank">[장바구니] 주문/결제 - 사은품 팝업</a></li>
              <li><a href="../../html/cart/w_com_1100_popup_info.html" target="_blank">[장바구니] 주문/결제 - 주문자 변경 팝업</a></li>
              <li><a href="../../html/cart/w_pop_com_1002.html" target="_blank">[장바구니] 주문/결제 - 카드혜택 팝업</a></li>
              <li><a href="../../html/cart/w_com_1100_guest.html" target="_blank">[장바구니] 주문/결제 - 비회원 (입력전)</a></li>
              <li><a href="../../html/cart/w_com_1100_guest_complete.html" target="_blank">[장바구니] 주문/결제 - 비회원 (입력완료)</a></li>
              <li><a href="../../html/cart/w_com_1100_guest_popup.html" target="_blank">[장바구니] 주문/결제 - 비회원 (비회원 주문 정보수집 동의 팝업)</a></li>
              <li><a href="../../html/cart/w_com_1100_today_arrival.html" target="_blank">[장바구니] 오늘도착 - 회원</a></li>
              <li><a href="../../html/cart/w_com_1100_guest_today_arrival.html" target="_blank">[장바구니] 오늘도착 - 비회원</a></li>
              <li><a href="../../html/cart/w_com_1200.html" target="_blank">[장바구니] 결제완료</a></li>
              <li><a href="../../html/gift/w_com_1300.html" target="_blank">[선물하기] 입력전</a></li>
              <li><a href="../../html/gift/w_com_1300_close.html" target="_blank">[선물하기] 입력전</a></li>
              <li><a href="../../html/gift/w_com_1300_complete.html" target="_blank">[선물하기] 입력완료</a></li>
              <li><a href="../../html/gift/w_com_1301.html" target="_blank">[선물하기] 결제완료</a></li>
              <li><a href="../../html/gift/w_com_1302.html" target="_blank">[선물하기] 선물함 인증 (입력전)</a></li>
              <li><a href="../../html/gift/w_com_1302_complete.html" target="_blank">[선물하기] 선물함 인증 (입력완료)</a></li>
              <li><a href="../../html/gift/w_pop_pre_0102.html" target="_blank">[선물하기] 선물함 인증 (거절한 선물 팝업)</a></li>
              <li><a href="../../html/gift/w_com_1303.html" target="_blank">[선물하기] 선물 배송정보</a></li>
              <li><a href="../../html/gift/w_pop_pre_0105.html" target="_blank">[선물하기] 선물 거절 팝업</a></li>
              <li><a href="../../html/gift/w_pop_pre_0112.html" target="_blank">[선물하기] 선물 수락 팝업</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cart-like-inner" style="margin-top: 60px;">
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            2021.03.12
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="../../index.html" target="_blank">[메인] 메인</a></li>
              <li><a href="../../html/my-page/w_myp.html" target="_blank">[마이페이지] 마이페이지</a></li>
              <li><a href="../../html/my-page/w_myp_empty.html" target="_blank">[마이페이지] 마이페이지 empty</a></li>
              <li><a href="../../html/my-page/w_pop_myp_0102.html" target="_blank">[마이페이지] 마이페이지 - 구매등급</a></li>
              <li><a href="../../html/my-page/w_pop_myp_0102_done.html" target="_blank">[마이페이지] 마이페이지 - 구매등급 (쿠폰 다운로드 완료)</a></li>
              <li><a href="../../html/my-page/w_tab_myp_0208.html" target="_blank">[마이페이지] 쿠폰 조회</a></li>
              <li><a href="../../html/my-page/w_tab_myp_0206.html" target="_blank">[마이페이지] 로이드 포인트 조회 - LLOYD Point</a></li>
              <li><a href="../../html/my-page/w_tab_myp_0206_empty.html" target="_blank">[마이페이지] 로이드 포인트 조회 empty</a></li>
              <li><a href="../../html/my-page/w_tab_myp_0207.html" target="_blank">[마이페이지] 로이드 포인트 조회 - E-Point</a></li>
              <li><a href="../../html/my-page/w_myp_0200.html" target="_blank">[마이페이지] 주문/배송 조회</a></li>
              <li><a href="../../html/my-page/w_myp_0200_empty.html" target="_blank">[마이페이지] 주문/배송 조회 empty</a></li>
              <li><a href="../../html/my-page/w_myp_0210.html" target="_blank">[마이페이지] 주문상세</a></li>
              <li><a href="../../html/my-page/w_myp_0210_gift.html" target="_blank">[마이페이지] 주문상세 - 선물하기</a></li>
              <li><a href="../../html/my-page/w_myp_0211.html" target="_blank">[마이페이지] 주문 취소 신청</a></li>
              <li><a href="../../html/my-page/w_myp_0212.html" target="_blank">[마이페이지] 주문 취소 신청 완료</a></li>
              <li><a href="../../html/my-page/w_myp_0213.html" target="_blank">[마이페이지] 교환 신청</a></li>
              <li><a href="../../html/my-page/w_myp_0214.html" target="_blank">[마이페이지] 교환 신청 완료</a></li>
              <li><a href="../../html/my-page/w_myp_0215.html" target="_blank">[마이페이지] 반품 신청</a></li>
              <li><a href="../../html/my-page/w_myp_0216.html" target="_blank">[마이페이지] 반품 신청 완료</a></li>
              <li><a href="../../html/my-page/w_myp_0220.html" target="_blank">[마이페이지] 취소/교환/반품 내역</a></li>
              <li><a href="../../html/my-page/w_myp_0220_empty.html" target="_blank">[마이페이지] 취소/교환/반품 내역 empty</a></li>
              <li><a href="../../html/my-page/w_myp_0202.html" target="_blank">[마이페이지] 나의 상품평 - 작성 가능한 리뷰</a></li>
              <li><a href="../../html/my-page/w_myp_0202_empty.html" target="_blank">[마이페이지] 나의 상품평 - 작성 가능한 리뷰 empty</a></li>
              <li><a href="../../html/my-page/w_myp_0203.html" target="_blank">[마이페이지] 나의 상품평 - 내가 작성한 리뷰</a></li>
              <li><a href="../../html/my-page/w_myp_0203_empty.html" target="_blank">[마이페이지] 나의 상품평 - 내가 작성한 리뷰 empty</a></li>
              <li><a href="../../html/my-page/w_myp_0301.html" target="_blank">[마이페이지] 나의 찜 목록</a></li>
              <li><a href="../../html/my-page/w_myp_0301_empty.html" target="_blank">[마이페이지] 나의 찜 목록 empty</a></li>
              <li><a href="../../html/my-page/w_myp_0302.html" target="_blank">[마이페이지] 최근에 본 상품</a></li>
              <li><a href="../../html/my-page/w_myp_0302_empty.html" target="_blank">[마이페이지] 최근에 본 상품 empty</a></li>
              <li><a href="../../html/my-page/w_myp_0303.html" target="_blank">[마이페이지] 재입고 알림 내역</a></li>
              <li><a href="../../html/my-page/w_myp_0400.html" target="_blank">[마이페이지] 배송지 관리</a></li>
              <li><a href="../../html/my-page/w_myp_0401.html" target="_blank">[마이페이지] 환불 계좌 관리</a></li>
              <li><a href="../../html/my-page/w_myp_0402.html" target="_blank">[마이페이지] 환불 계좌 등록 팝업</a></li>
              <li><a href="../../html/my-page/w_myp_0403.html" target="_blank">[마이페이지] 환불 계좌 수정 팝업</a></li>
              <li><a href="../../html/customer-service/w_csc_0000.html" target="_blank">[고객센터] 고객센터</a></li>
              <li><a href="../../html/customer-service/w_csc_0000_empty.html" target="_blank">[고객센터] 고객센터 empty</a></li>
              <li><a href="../../html/customer-service/w_csc_0000_guest.html" target="_blank">[고객센터] 고객센터 - 비회원</a></li>
              <li><a href="../../html/customer-service/w_tab_csc_0100.html" target="_blank">[고객센터] FAQ - 검색결과</a></li>
              <li><a href="../../html/cart/w_pop_com_1002_terms_pg.html" target="_blank">[장바구니] 결제대행 서비스 약관 동의 팝업</a></li>
              <li><a href="../../html/cart/w_pop_com_1002_terms_privacy.html" target="_blank">[장바구니] 비회원 개인정보수집 및 이용동의 팝업</a></li>
              <li><a href="../../html/cart/w_pop_com_1002_terms_usage.html" target="_blank">[장바구니] 쇼핑몰 이용약관 팝업</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cart-like-inner" style="margin-top: 60px;">
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            2021.03.20
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="../../html/about/w_com_0200_brand.html" target="_blank">[어바웃로이드] 브랜드스토리</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- //container -->
  </div>
  <!-- //wrapper -->
  <script src="../../assets/js/vendors/jquery_3.6.0.min.js"></script>
  <script src="../../assets/js/vendors/swiper-bundle.min.js"></script>
  <script src="../../assets/js/ui.js"></script>
</body>
</html>