<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no" />
    <title>Components - LLoyd</title>
    <!-- .icon -->
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../assets/css/fonts.css"
      media="none"
      onload="this.media='all';"
    />
    <link rel="stylesheet" href="../../assets/css/reboot.css">
    <link rel="stylesheet" href="../../assets/css/page.css">
    <link rel="stylesheet" href="../../assets/css/component.css">
    <link rel="stylesheet" type="text/css" href="./css/guide.css" />
    <link rel="stylesheet" type="text/css" href="./css/vs.css" />
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <div class="Component">
        <!-- component -->
        <div class="ComponentBox">
          <div class="ComponentBoxHeader">
            <div class="c-TitleBgLine">
              <h2 class="c-TitleBgLine-title">cart accordion</h2>
            </div>
          </div>
          <div class="ComponentBoxView">
            <div class="ComponentBoxView-content">
              <!-- code -->
              <div class="buy-accordion">
                <button class="buy-accordion-label collapse">
                  주문자 정보
                  <span class="buy-accordion-text">강진홍</span>
                </button>
                <div class="buy-accordion-box">
                  contents
                </div>
              </div>
              <!-- .code -->
            </div>
            <div class="ComponentBoxView-footer"><a class="ComponentBoxView-link" href="#;"><span class="ab-text">코드보기</span></a></div>
          </div>
          <div class="ComponentBoxCode">
  <pre><code>&lt;div class="buy-accordion"&gt;
    &lt;button class="buy-accordion-label collapse"&gt;
      주문자 정보
      &lt;span class="buy-accordion-text"&gt;강진홍&lt;/span&gt;
    &lt;/button&gt;
    &lt;div class="buy-accordion-box"&gt;
      contents
    &lt;/div&gt;
  &lt;/div&gt;</code></pre>
          </div>
        </div>
        <!-- .component -->
        <!-- component -->
        <div class="ComponentBox">
          <div class="ComponentBoxHeader">
            <div class="c-TitleBgLine">
              <h2 class="c-TitleBgLine-title">cart accordion - no collapse</h2>
            </div>
          </div>
          <div class="ComponentBoxView">
            <div class="ComponentBoxView-content">
              <!-- code -->
              <div class="buy-accordion">
                <button class="buy-accordion-label">
                  최종 결제금액
                </button>
                <div class="buy-accordion-box">
                  contents
                </div>
              </div>
              <!-- .code -->
            </div>
            <div class="ComponentBoxView-footer"><a class="ComponentBoxView-link" href="#;"><span class="ab-text">코드보기</span></a></div>
          </div>
          <div class="ComponentBoxCode">
  <pre><code>&lt;div class="buy-accordion"&gt;
    &lt;button class="buy-accordion-label"&gt;
      최종 결제금액
    &lt;/button&gt;
    &lt;div class="buy-accordion-box"&gt;
      contents
    &lt;/div&gt;
  &lt;/div&gt;</code></pre>
          </div>
        </div>
        <!-- .component -->
        <!-- component -->
        <div class="ComponentBox">
          <div class="ComponentBoxHeader">
            <div class="c-TitleBgLine">
              <h2 class="c-TitleBgLine-title">cart accordion - Price</h2>
            </div>
          </div>
          <div class="ComponentBoxView">
            <div class="ComponentBoxView-content">
              <!-- code -->
              <div class="buy-accordion">
                <button class="buy-accordion-label collapse">
                  결제금액
                  <span class="buy-accordion-text">
                    <span class="buy-accordion-price">644,200</span>
                    <span class="buy-accordion-currency">원</span>
                  </span>
                </button>
                <div class="buy-accordion-box">
                  contents
                </div>
              </div>
              <!-- .code -->
            </div>
            <div class="ComponentBoxView-footer"><a class="ComponentBoxView-link" href="#;"><span class="ab-text">코드보기</span></a></div>
          </div>
          <div class="ComponentBoxCode">
  <pre><code>&lt;div class="buy-accordion"&gt;
    &lt;button class="buy-accordion-label collapse"&gt;
      결제금액
      &lt;span class="buy-accordion-text"&gt;
        &lt;span class="buy-accordion-price"&gt;644,200&lt;/span&gt;
        &lt;span class="buy-accordion-currency"&gt;원&lt;/span&gt;
      &lt;/span&gt;
    &lt;/button&gt;
    &lt;div class="buy-accordion-box"&gt;
      contents
    &lt;/div&gt;
  &lt;/div&gt;</code></pre>
          </div>
        </div>
        <!-- .component -->
        <!-- component -->
        <div class="ComponentBox">
          <div class="ComponentBoxHeader">
            <div class="c-TitleBgLine">
              <h2 class="c-TitleBgLine-title">cart accordion - checkbox</h2>
            </div>
          </div>
          <div class="ComponentBoxView">
            <div class="ComponentBoxView-content">
              <!-- code -->
              <div class="buy-accordion">
                <div class="buy-accordion-label is-check">
                  약관 동의
                  <label class="buy-accordion-text">
                    <input type="checkbox" id="checkAll" class="buy-accordion-checkbox"/>
                    <span class="buy-accordion-agree" for="checkAll">전체동의</span>
                  </label>
                </div>
                <div class="buy-accordion-box">
                  contents
                </div>
              </div>
              <!-- .code -->
            </div>
            <div class="ComponentBoxView-footer"><a class="ComponentBoxView-link" href="#;"><span class="ab-text">코드보기</span></a></div>
          </div>
          <div class="ComponentBoxCode">
  <pre><code>&lt;div class="buy-accordion"&gt;
    &lt;button class="buy-accordion-label collapse is-check"&gt;
      약관 동의
      &lt;label class="buy-accordion-text"&gt;
        &lt;input type="checkbox" id="checkAll" class="buy-accordion-checkbox"/&gt;
        &lt;span class="buy-accordion-agree" for="checkAll"&gt;전체동의&lt;/span&gt;
      &lt;/label&gt;
    &lt;/button&gt;
    &lt;div class="buy-accordion-box"&gt;
      contents
    &lt;/div&gt;
  &lt;/div&gt;</code></pre>
          </div>
        </div>
        <!-- .component -->
        <!-- component -->
        <div class="ComponentBox">
          <div class="ComponentBoxHeader">
            <div class="c-TitleBgLine">
              <h2 class="c-TitleBgLine-title">cart accordion - head checkbox</h2>
            </div>
          </div>
          <div class="ComponentBoxView">
            <div class="ComponentBoxView-content">
              <!-- code -->
              <div class="buy-accordion">
                <button class="buy-accordion-label has-check">
                  <label class="buy-accordion-head">
                    <input type="checkbox" id="checkAllHead" class="buy-accordion-checkbox"/>
                    <span class="accordion-head-icon" for="checkAllHead"></span>
                  </label>
                  일반배송<span class="buy-accordion-count">(1)</span>
                </button>
                <div class="buy-accordion-box">
                  contents
                </div>
              </div>
              <!-- .code -->
            </div>
            <div class="ComponentBoxView-footer"><a class="ComponentBoxView-link" href="#;"><span class="ab-text">코드보기</span></a></div>
          </div>
          <div class="ComponentBoxCode">
  <pre><code>&lt;div class="buy-accordion"&gt;
    &lt;button class="buy-accordion-label has-check"&gt;
      &lt;label class="buy-accordion-head"&gt;
        &lt;input type="checkbox" id="checkAllHead" class="buy-accordion-checkbox"/&gt;
        &lt;span class="accordion-head-icon" for="checkAllHead"&gt;&lt;/span&gt;
      &lt;/label&gt;
      일반상품&lt;span class="buy-accordion-count"&gt;(1)&lt;/span&gt;
    &lt;/button&gt;
    &lt;div class="buy-accordion-box"&gt;
      contents
    &lt;/div&gt;
  &lt;/div&gt;</code></pre>
          </div>
        </div>
        <!-- .component -->
      </div>
    </div>
  </div>
  <script src="../../assets/js/vendors/jquery_3.4.0.min.js"></script>
  <script src="../../assets/js/vendors/swiper-bundle.min.js"></script>
  <script src="../../assets/js/ui.js"></script>
  <script src="./js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script>
    $(".ComponentBoxView-link").on("click", function (e) {
      $(this).closest(".ComponentBox").toggleClass("is-view");

    });
  </script>
</body>
</html>