<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
  <meta name="format-detection" content="telephone=no" />
  <title>Components - LLoyd</title>
  <!-- .icon -->
  <link rel="shortcut icon" href="../../assets/images/favicon.ico" />
  <link
    rel="stylesheet"
    type="text/css"
    href="../../assets/css/fonts.css"
    media="none"
    onload="this.media='all';"
  />
  <link rel="stylesheet" href="../../assets/css/reboot.css">
  <link rel="stylesheet" href="../../assets/css/page.css">
  <link rel="stylesheet" href="../../assets/css/component.css">
  <link rel="stylesheet" type="text/css" href="./css/guide.css" />
  <link rel="stylesheet" type="text/css" href="./css/vs.css" />
<body>
  <div class="wrapper">
    <div class="container">

    </div>
  </div>
  <script src="../../assets/js/vendors/jquery_3.4.0.min.js"></script>
  <script src="../../assets/js/vendors/swiper-bundle.min.js"></script>
  <script src="../../assets/js/ui.js"></script>
  <script src="./js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script>
    $(".ComponentBoxView-link").on("click", function (e) {
      $(this).closest(".ComponentBox").toggleClass("is-view");

    });
  </script>
</body>
</html>