<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no" />
    <title>Components - LLoyd</title>
    <!-- .icon -->
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../assets/css/fonts.css"
      media="none"
      onload="this.media='all';"
    />
    <link rel="stylesheet" href="../../assets/css/reboot.css">
    <link rel="stylesheet" href="../../assets/css/page.css">
    <link rel="stylesheet" href="../../assets/css/component.css">
    <link rel="stylesheet" type="text/css" href="./css/guide.css" />
    <link rel="stylesheet" type="text/css" href="./css/vs.css" />
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <div class="Component">
       <!-- component -->
       <div class="ComponentBox">
        <div class="ComponentBoxHeader">
          <div class="c-TitleBgLine">
            <h2 class="c-TitleBgLine-title">Category: 오늘도착</h2>
          </div>
        </div>
        <div class="ComponentBoxView">
          <div class="ComponentBoxView-content">
            <!-- code -->
            <div class="basic-address">
              <dl>
                <dt class="basic-address-title">회사(기본)</dt>
                <dd class="basic-address-text">서울특별시 성동구 뚝섬로1길 25 서울숲 한라봉 제주도 가고싶다</dd>
              </dl>
              <a href="#;" class="basic-address-button">배송지 변경</a>
            </div>
            <!-- .code -->
          </div>
          <div class="ComponentBoxView-footer"><a class="ComponentBoxView-link" href="#;"><span class="ab-text">코드보기</span></a></div>
        </div>
        <div class="ComponentBoxCode">
<pre><code>
</code></pre>
        </div>
      </div>
      <!-- .component -->
      <!-- component -->
      <div class="ComponentBox">
        <div class="ComponentBoxHeader">
          <div class="c-TitleBgLine">
            <h2 class="c-TitleBgLine-title">Category: 최종 결제 금액</h2>
          </div>
        </div>
        <div class="ComponentBoxView">
          <div class="ComponentBoxView-content">
            <!-- code -->
            <div class="basic-total">
              <ul>
                <li class="basic-total-item">
                  <dl>
                    <dt class="basic-total-title">상품금액</dt>
                    <dd class="basic-total-text">59,900</dd>
                  </dl>
                </li>
                <li class="basic-total-item">
                  <dl>
                    <dt class="basic-total-title">배송비</dt>
                    <dd class="basic-total-text">0</dd>
                  </dl>
                </li>
              </ul>
              <div class="basic-total-last">
                <dl>
                  <dt class="basic-total-last-title">총 상품 금액(총 수량 <span class="count">2</span>개)</dt>
                  <dd class="basic-total-last-text"><span class="basic-total-last-price">119,800<span class="currency">원</span></span></dd>
                </dl>
              </div>
            </div>
            <!-- .code -->
          </div>
          <div class="ComponentBoxView-footer"><a class="ComponentBoxView-link" href="#;"><span class="ab-text">코드보기</span></a></div>
        </div>
        <div class="ComponentBoxCode">
<pre><code>
</code></pre>
        </div>
      </div>
      <!-- .component -->
      <!-- component -->
      <div class="ComponentBox">
        <div class="ComponentBoxHeader">
          <div class="c-TitleBgLine">
            <h2 class="c-TitleBgLine-title">Category: 배송지 정보</h2>
          </div>
        </div>
        <div class="ComponentBoxView">
          <div class="ComponentBoxView-content">
            <!-- code -->
            <div class="static-address">
              <dl class="static-address-item">
                <dt class="static-address-title">회사(기본)/강진홍</dt>
                <dd class="static-address-content">
                  <p class="static-address-text">(12312)서울특별시 뚝섬로 1길 25 서울숲 한라에코밸리 10층 에이치나인</p>
                  <div class="static-address-tel">010-1234-1234</div>
                </dd>
              </dl>
            </div>
            <!-- .code -->
          </div>
          <div class="ComponentBoxView-footer"><a class="ComponentBoxView-link" href="#;"><span class="ab-text">코드보기</span></a></div>
        </div>
        <div class="ComponentBoxCode">
<pre><code>
</code></pre>
        </div>
      </div>
      <!-- .component -->
       <!-- component -->
       <div class="ComponentBox">
        <div class="ComponentBoxHeader">
          <div class="c-TitleBgLine">
            <h2 class="c-TitleBgLine-title">Category: 결제금액</h2>
          </div>
        </div>
        <div class="ComponentBoxView">
          <div class="ComponentBoxView-content">
            <!-- code -->
            <div class="basic-total">
              <ul>
                <li class="basic-total-item">
                  <dl>
                    <dt class="basic-total-title">상품금액</dt>
                    <dd class="basic-total-text">69,000</dd>
                  </dl>
                </li>
                <li class="basic-total-item">
                  <dl>
                    <dt class="basic-total-title">사은품금액</dt>
                    <dd class="basic-total-text">3,000</dd>
                  </dl>
                </li>
                <li class="basic-total-item">
                  <dl>
                    <dt class="basic-total-title">쿠폰할인 금액</dt>
                    <dd class="basic-total-text minus">0</dd>
                  </dl>
                </li>
                <li class="basic-total-item">
                  <dl>
                    <dt class="basic-total-title">포인트사용</dt>
                    <dd class="basic-total-text minus">0</dd>
                  </dl>
                </li>
                <li class="basic-total-item">
                  <dl>
                    <dt class="basic-total-title">배송비</dt>
                    <dd class="basic-total-text">2,500</dd>
                  </dl>
                </li>
              </ul>
              <div class="basic-total-last">
                <dl>
                  <dt class="basic-total-last-title">총 상품 금액(총 수량 <span class="count">2</span>개)</dt>
                  <dd class="basic-total-last-text">
                    <span class="basic-total-last-price">119,800<span class="currency">원</span></span>
                    <span class="basic-total-last-sub">구매 시 적립 예정 포인트<span class="point">7p</span></span>
                  </dd>
                </dl>
              </div>
            </div>
            <!-- .code -->
          </div>
          <div class="ComponentBoxView-footer"><a class="ComponentBoxView-link" href="#;"><span class="ab-text">코드보기</span></a></div>
        </div>
        <div class="ComponentBoxCode">
<pre><code>
</code></pre>
        </div>
      </div>
      <!-- .component -->
      <!-- component -->
      <div class="ComponentBox">
        <div class="ComponentBoxHeader">
          <div class="c-TitleBgLine">
            <h2 class="c-TitleBgLine-title">Category: 주문자 정보</h2>
          </div>
        </div>
        <div class="ComponentBoxView">
          <div class="ComponentBoxView-content">
            <!-- code -->
            <div class="order-info">
              <div class="order-info-text">
                <div class="order-info-name">강진홍<span class="tel">(010-1234-1234)</span></div>
                <div class="order-info-email">Hnine@hnine.com</div>
              </div>
              <a href="#;" class="order-info-button">변경</a>
            </div>
            <!-- .code -->
          </div>
          <div class="ComponentBoxView-footer"><a class="ComponentBoxView-link" href="#;"><span class="ab-text">코드보기</span></a></div>
        </div>
        <div class="ComponentBoxCode">
<pre><code>
</code></pre>
        </div>
      </div>
      <!-- .component -->

      <!-- component -->
      <div class="ComponentBox">
        <div class="ComponentBoxHeader">
          <div class="c-TitleBgLine">
            <h2 class="c-TitleBgLine-title">Category: 카트 서브 타이틀</h2>
          </div>
        </div>
        <div class="ComponentBoxView">
          <div class="ComponentBoxView-content">
            <!-- code -->
            <div class="static-subtitle">
              <span class="static-subtitle-title">쿠폰할인</span>
            </div>
            <div class="static-subtitle">
              <span class="static-subtitle-title">30만원 이상 구매 시</span>
              <span class="static-subtitle-sub">선택 가능 수량<span class="count"><span class="text">2</span>개</span></span>
            </div>
            <!-- .code -->
          </div>
          <div class="ComponentBoxView-footer"><a class="ComponentBoxView-link" href="#;"><span class="ab-text">코드보기</span></a></div>
        </div>
        <div class="ComponentBoxCode">
<pre><code>
</code></pre>
        </div>
      </div>
      <!-- .component -->
      <!-- component -->
      <div class="ComponentBox">
        <div class="ComponentBoxHeader">
          <div class="c-TitleBgLine">
            <h2 class="c-TitleBgLine-title">Category: 포인트 인풋</h2>
          </div>
        </div>
        <div class="ComponentBoxView">
          <div class="ComponentBoxView-content">
            <!-- code -->
            <div class="static-subtitle">
              <span class="static-subtitle-title">포인트</span>
              <span class="static-subtitle-sub black">보유 포인트<span class="count">320p</span>
            </div>
            <div class="button-inputbox">
              <input type="number" title="point" class="button-inputbox-input" placeholder="0">
              <button type="submit" class="button-inputbox-submit">적용</button>
            </div>
            <div class="button-inputbox-sub"><span class="text">5,000</span>원 이상 적립 시 사용가능 </div>
            <!-- .code -->
          </div>
          <div class="ComponentBoxView-footer"><a class="ComponentBoxView-link" href="#;"><span class="ab-text">코드보기</span></a></div>
        </div>
        <div class="ComponentBoxCode">
<pre><code>
</code></pre>
        </div>
      </div>
      <!-- .component -->
       <!-- component -->
       <div class="ComponentBox">
        <div class="ComponentBoxHeader">
          <div class="c-TitleBgLine">
            <h2 class="c-TitleBgLine-title">Category: 결제수단</h2>
          </div>
        </div>
        <div class="ComponentBoxView">
          <div class="ComponentBoxView-content">
            <!-- code -->
            <div class="box-radio-list">
              <ul>
                <li class="box-radio-item">
                  <div class="box-radio">
                    <input type="radio" name="checkout" id="creditCard" class="box-radio-input" checked>
                    <label class="box-radio-label" for="creditCard">신용카드</label>
                  </div>
                </li>
                <li class="box-radio-item">
                  <div class="box-radio">
                    <input type="radio" name="checkout" id="checkout2" class="box-radio-input">
                    <label class="box-radio-label" for="checkout2">실시간 계좌이체</label>
                  </div>
                </li>
                <li class="box-radio-item">
                  <div class="box-radio">
                    <input type="radio" name="checkout" id="bankTransfer" class="box-radio-input">
                    <label class="box-radio-label" for="bankTransfer">무통장입금(가상계좌)</label>
                  </div>
                </li>
              </ul>
            </div>
            <div class="plus-more">
              <a href="#;" class="plus-more-link">카드 혜택 자세히 보기 +</a>
            </div>
            <!-- .code -->
          </div>
          <div class="ComponentBoxView-footer"><a class="ComponentBoxView-link" href="#;"><span class="ab-text">코드보기</span></a></div>
        </div>
        <div class="ComponentBoxCode">
<pre><code>
</code></pre>
        </div>
      </div>
      <!-- .component -->
      <!-- component -->
      <div class="ComponentBox">
        <div class="ComponentBoxHeader">
          <div class="c-TitleBgLine">
            <h2 class="c-TitleBgLine-title">Category: 약관동의</h2>
          </div>
        </div>
        <div class="ComponentBoxView">
          <div class="ComponentBoxView-content">
            <!-- code -->
            <div class="check-dropbox">
              <dl>
                <dt class="check-dropbox-text">
                  <div class="check-box medium text-small">
                    <label for="policy1">
                      <input type="checkbox" name="policy" id="policy1">
                      <span class="text">개인정보 제 3자 제공 동의 (필수)</span>
                    </label>
                  </div>
                </dt>
                <dd class="check-dropbox-content">
                  <p>약관 내용이 들어가는 자리입니다.</p>
                  <p>약관 내용이 들어가는 자리입니다.</p>
                </dd>
              </dl>
            </div>
            <div class="check-dropbox">
              <dl>
                <dt class="check-dropbox-text">
                  <div class="check-box medium text-small">
                    <label for="policy2">
                      <input type="checkbox" name="policy" id="policy2">
                      <span class="text">주문 내역 확인 동의 (필수)</span>
                    </label>
                  </div>
                </dt>
                <dd class="check-dropbox-content">
                  <p>약관 내용이 들어가는 자리입니다.</p>
                  <p>약관 내용이 들어가는 자리입니다.</p>
                </dd>
              </dl>
            </div>
            <!-- .code -->
          </div>
          <div class="ComponentBoxView-footer"><a class="ComponentBoxView-link" href="#;"><span class="ab-text">코드보기</span></a></div>
        </div>
        <div class="ComponentBoxCode">
<pre><code>
</code></pre>
        </div>
      </div>
      <!-- .component -->
      <!-- component -->
      <div class="ComponentBox">
        <div class="ComponentBoxHeader">
          <div class="c-TitleBgLine">
            <h2 class="c-TitleBgLine-title">Category: 라디오 박스</h2>
          </div>
        </div>
        <div class="ComponentBoxView">
          <div class="ComponentBoxView-content">
            <!-- code -->
            <div class="basic-radio-list">
              <ul>
                <li class="basic-radio-list-item">
                  <div class="basic-radio">
                    <input type="radio" name="accessMethod" id="accessMethod1" class="basic-radio-input">
                    <label for="accessMethod1" class="basic-radio-label">공동현관 출입번호</label>
                    <input type="text" class="basic-radio-textinput" placeholder="예:#1234*">
                  </div>
                </li>
                <li class="basic-radio-list-item">
                  <div class="basic-radio">
                    <input type="radio" name="accessMethod" id="accessMethod2" class="basic-radio-input">
                    <label for="accessMethod2" class="basic-radio-label">경비실 호출</label>
                  </div>
                </li>
                <li class="basic-radio-list-item">
                  <div class="basic-radio">
                    <input type="radio" name="accessMethod" id="accessMethod3" class="basic-radio-input">
                    <label for="accessMethod3" class="basic-radio-label">비밀번호 업이 출입 가능</label>
                  </div>
                </li>
                <li class="basic-radio-list-item">
                  <div class="basic-radio">
                    <input type="radio" name="accessMethod" id="accessMethod4" class="basic-radio-input">
                    <label for="accessMethod4" class="basic-radio-label">인터폰으로 연락</label>
                  </div>
                </li>
                <li class="basic-radio-list-item">
                  <div class="basic-radio">
                    <input type="radio" name="accessMethod" id="accessMethod5" class="basic-radio-input">
                    <label for="accessMethod5" class="basic-radio-label">직접 입력</label>
                    <input type="text" class="basic-radio-textinput" placeholder="직접 입력">
                  </div>
                </li>
              </ul>
            </div>
            <!-- .code -->
          </div>
          <div class="ComponentBoxView-footer"><a class="ComponentBoxView-link" href="#;"><span class="ab-text">코드보기</span></a></div>
        </div>
        <div class="ComponentBoxCode">
<pre><code>
</code></pre>
        </div>
      </div>
      <!-- .component -->
      </div>
    </div>
  </div>
  <script src="../../assets/js/vendors/jquery_3.4.0.min.js"></script>
  <script src="../../assets/js/vendors/swiper-bundle.min.js"></script>
  <script src="../../assets/js/ui.js"></script>
  <script src="./js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script>
    $(".ComponentBoxView-link").on("click", function (e) {
      $(this).closest(".ComponentBox").toggleClass("is-view");

    });
  </script>
</body>
</html>