<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
  <meta name="format-detection" content="telephone=no" />
  <title>Components - LLoyd</title>
  <!-- .icon -->
  <link rel="shortcut icon" href="../../assets/images/favicon.ico" />
  <link
      rel="stylesheet"
      type="text/css"
      href="../../assets/css/fonts.css"
      media="none"
      onload="this.media='all';"
    />
    <link rel="stylesheet" href="../../assets/css/reboot.css">
    <link rel="stylesheet" href="../../assets/css/page.css">
    <link rel="stylesheet" href="../../assets/css/component.css">
    <style>
      .buy-accordion-box li{
        margin-top:20px;
      }

      .buy-accordion-box li:first-child{
        margin-top:0;
      }

      .buy-accordion-box li a{
        display: block;
        border:solid 1px #bdbdbd;
        padding:10px 15px;
        font-size:14px;
        border-left:solid 2px #000;
      }
    </style>
</head>
<body>
  <div class="header" id="header">
    <div class="header-left">
      <a href="#;" class="header-btn"><img src="../../assets/images/icons/back.png" alt=""><span class="sr-only">이전페이지</span></a>
      <a href="#;" class="header-btn"><img src="../../assets/images/icons/home.png" alt=""><span class="sr-only">홈</span></a>
    </div>
    <div class="header-title">
      <button class="title">마크업 리스트</button>
    </div>
    <div class="header-right">
      <!-- <a href="#;" class="header-btn"><img src="../../assets/images/icons/home.png" alt=""><span class="sr-only">홈</span></a> -->
      <a href="#;" class="header-btn"><img src="../../assets/images/icons/search.png" alt=""><span class="sr-only">검색</span></a>
      <a href="#;" class="header-btn"><img src="../../assets/images/icons/shop.png" alt=""><span class="sr-only">장바구니</span></a>
      <!-- <a href="#;" class="header-btn"><img src="../../assets/images/icons/close.png" alt=""><span class="sr-only">닫기</span></a> -->
    </div>
  </div>
  <!-- menu-wrap -->
  <div class="menu-wrap top">
  <!-- 하단 버튼 있을 경우 .with-btn 클래스 추가 -->

  <div class="menu-dim"></div>

  <div class="menu-content">
    <div class="menu-inner">
      <nav class="menu">
        <ul class="dep1-list">
          <li>
            <a href="#;" class="dep1-item">Jewelry</a>
            <ul class="dep2-list">
              <li><a href="#;" class="dep2-item">Necklace</a></li>
              <li><a href="#;" class="dep2-item">Earring</a></li>
              <li><a href="#;" class="dep2-item">Bracelet</a></li>
              <li><a href="#;" class="dep2-item">Ring</a></li>
              <li><a href="#;" class="dep2-item">Couple Ring</a></li>
            </ul>
          </li>
          <li>
            <a href="#;" class="dep1-item">Watch</a>
            <ul class="dep2-list">
              <li><a href="#;" class="dep2-item">Women's watch</a></li>
              <li><a href="#;" class="dep2-item">Men's watch</a></li>
              <li><a href="#;" class="dep2-item">Couple</a></li>
              <li><a href="#;" class="dep2-item">Smart Watch</a></li>
            </ul>
          </li>
          <li>
            <a href="#;" class="dep1-item">Signature</a>
            <ul class="dep2-list">
              <li><a href="#;" class="dep2-item">Collection</a></li>
              <li><a href="#;" class="dep2-item">Chains</a></li>
              <li><a href="#;" class="dep2-item">Charms</a></li>
              <li><a href="#;" class="dep2-item">Ring</a></li>
            </ul>
          </li>
          <li>
            <a href="#;" class="dep1-item">Gift</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- /menu-content -->
  </div>
  <!-- /menu-wrap -->

  <div class="wrapper">
    <!-- container -->
    <div class="container detail">
      
      <div class="cart-like-inner recent">
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            Components
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="./component-center.html" target="_blank">서치, 탭메뉴, 아코디언 등</a></li>
              <li><a href="./component-mypage.html" target="_blank">my page 섬네일 관련</a></li>
              <li><a href="./component_add_address.html" target="_blank">배송지 팝업</a></li>
              <li><a href="./component-cart.html" target="_blank">주문/결제</a></li>
              <li><a href="./components_cart_sy.html" target="_blank">주문/결제 헤더</a></li>
              <li><a href="./components_hayng.html" target="_blank">상품목록, 슬라이더 등</a></li>
              <li><a href="./components_dayoung.html" target="_blank">드롭다운, 인풋 등</a></li>
              <li><a href="./components_jh.html" target="_blank">상품 상세</a></li>
              <li><a href="./components_popup.html" target="_blank">팝업</a></li>
              <li><a href="./components_login.html" target="_blank">로그인</a></li>
              <li><a href="./components_dep2menu.html" target="_blank">탑 메뉴</a></li>
              <li><a href="./component-AR.html" target="_blank">AR</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- //container -->
  </div>
  <!-- //wrapper -->
  <script src="../../assets/js/vendors/jquery_3.4.0.min.js"></script>
  <script src="../../assets/js/vendors/swiper-bundle.min.js"></script>
  <script src="../../assets/js/ui.js"></script>
</body>
</html>