<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
  <meta name="format-detection" content="telephone=no" />
  <title>Components - LLoyd</title>
  <!-- .icon -->
  <link rel="shortcut icon" href="../../assets/images/favicon.ico" />
  <link
      rel="stylesheet"
      type="text/css"
      href="../../assets/css/fonts.css"
      media="none"
      onload="this.media='all';"
    />
    <link rel="stylesheet" href="../../assets/css/reboot.css">
    <link rel="stylesheet" href="../../assets/css/page.css">
    <link rel="stylesheet" href="../../assets/css/component.css">
    <style>
      .buy-accordion-box li{
        margin-top:20px;
      }

      .buy-accordion-box li:first-child{
        margin-top:0;
      }

      .buy-accordion-box li a{
        display: block;
        border:solid 1px #bdbdbd;
        padding:10px 15px;
        font-size:14px;
        border-left:solid 2px #000;
      }
    </style>
</head>
<body>
  <div class="header" id="header">
    <div class="header-left">
      <a href="#;" class="header-btn"><img src="../../assets/images/icons/back.png" alt=""><span class="sr-only">이전페이지</span></a>
      <a href="#;" class="header-btn"><img src="../../assets/images/icons/home.png" alt=""><span class="sr-only">홈</span></a>
    </div>
    <div class="header-title">
      <button class="title">마크업 리스트</button>
    </div>
    <div class="header-right">
      <!-- <a href="#;" class="header-btn"><img src="../../assets/images/icons/home.png" alt=""><span class="sr-only">홈</span></a> -->
      <a href="#;" class="header-btn"><img src="../../assets/images/icons/search.png" alt=""><span class="sr-only">검색</span></a>
      <a href="#;" class="header-btn"><img src="../../assets/images/icons/shop.png" alt=""><span class="sr-only">장바구니</span></a>
      <!-- <a href="#;" class="header-btn"><img src="../../assets/images/icons/close.png" alt=""><span class="sr-only">닫기</span></a> -->
    </div>
  </div>
  <!-- menu-wrap -->
  <div class="menu-wrap top">
  <!-- 하단 버튼 있을 경우 .with-btn 클래스 추가 -->

  <div class="menu-dim"></div>

  <div class="menu-content">
    <div class="menu-inner">
      <nav class="menu">
        <ul class="dep1-list">
          <li>
            <a href="#;" class="dep1-item">Jewelry</a>
            <ul class="dep2-list">
              <li><a href="#;" class="dep2-item">Necklace</a></li>
              <li><a href="#;" class="dep2-item">Earring</a></li>
              <li><a href="#;" class="dep2-item">Bracelet</a></li>
              <li><a href="#;" class="dep2-item">Ring</a></li>
              <li><a href="#;" class="dep2-item">Couple Ring</a></li>
            </ul>
          </li>
          <li>
            <a href="#;" class="dep1-item">Watch</a>
            <ul class="dep2-list">
              <li><a href="#;" class="dep2-item">Women's watch</a></li>
              <li><a href="#;" class="dep2-item">Men's watch</a></li>
              <li><a href="#;" class="dep2-item">Couple</a></li>
              <li><a href="#;" class="dep2-item">Smart Watch</a></li>
            </ul>
          </li>
          <li>
            <a href="#;" class="dep1-item">Signature</a>
            <ul class="dep2-list">
              <li><a href="#;" class="dep2-item">Collection</a></li>
              <li><a href="#;" class="dep2-item">Chains</a></li>
              <li><a href="#;" class="dep2-item">Charms</a></li>
              <li><a href="#;" class="dep2-item">Ring</a></li>
            </ul>
          </li>
          <li>
            <a href="#;" class="dep1-item">Gift</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- /menu-content -->
  </div>
  <!-- /menu-wrap -->

  <div class="wrapper">
    <!-- container -->
    <div class="container detail">
      
      <div class="cart-extra">
        <div class="inner">
          <div class="cart-extra-text">※ 배포날 기준으로 정리.</div>
        </div>
      </div>
      <div class="cart-like-inner recent">
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            2021.01.15
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="../../html/components/components_popup.html" target="_blank">[LLoyd]Alert Popup</a></li>
              <li><a href="../../html/product-list/jewelry_all.html" target="_blank">[제품목록]주얼리</a></li>
              <li><a href="../../html/product-list/jewelry_3depth_all.html" target="_blank">[제품목록]주얼리(All)</a></li>
              <li><a href="../../html/product-list/jewelry_3depth.html" target="_blank">[제품목록]주얼리(3depth)</a></li>
              <li><a href="../../html/product-list/watch_all.html" target="_blank">[제품목록]와치</a></li>
              <li><a href="../../html/product-list/watch_3depth_all.html" target="_blank">[제품목록]와치(All)</a></li>
              <li><a href="../../html/product-list/watch_3depth.html" target="_blank">[제품목록]와치(3depth)</a></li>
              <li><a href="../../html/product-list/signature.html" target="_blank">[제품목록]Signature</a></li>
              <li><a href="../../html/product-list/gift.html" target="_blank">[제품목록]Gift</a></li>
              <li><a href="../../html/product-list/new_release_special.html" target="_blank">[제품목록]New Release(Special)</a></li>
              <li><a href="../../html/product-list/new_release_new.html" target="_blank">[제품목록]New Release(New)</a></li>
              <li><a href="../../html/product-list/new_release_best.html" target="_blank">[제품목록]New Release(Best)</a></li>
              <li><a href="../../html/product-detail/product_detail_guide.html" target="_blank">[제품상세페이지]Guide</a></li>
              <li><a href="../../html/product-detail/product_detail.html" target="_blank">[제품상세페이지]Detail</a></li>
            </ul>
          </div>
        </div>
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            2021.01.26
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="../../html/product-detail/product_detail.html" target="_blank">[제품상세페이지]360팝업</a></li>
              <li><a href="../../html/components/component_cart_popup.html" target="_blank">[제품상세페이지]챗봇 팝업</a></li>
              <li><a href="../../html/ar-service/ar-service.html" target="_blank">[AR]초기화면</a></li>
              <li><a href="../../html/cart/com_1000_empty.html" target="_blank">[장바구니]Empty</a></li>
              <li><a href="../../html/cart/com_1000.html" target="_blank">[장바구니]Page</a></li>
              <li><a href="../../html/cart/com_1100_member_no_input.html" target="_blank">[장바구니]주문/결제 회원</a></li>
              <li><a href="../../html/cart/com_1100_all_gift_provide.html" target="_blank">[장바구니]주문/결제(사은품 모두 줄 경우)</a></li>
              <li><a href="../../html/cart/com_1100_member_today_arriving.html" target="_blank">[장바구니]오늘도착_회원</a></li>
              <li><a href="../../html/cart/com_1100_non_member_agree_popup.html" target="_blank">[장바구니]정보수집_비회원</a></li>
              <li><a href="../../html/cart/com_1100_non_member_no_input.html" target="_blank">[장바구니]주문/결제_비회원</a></li>
              <li><a href="../../html/cart/com_1100_non_member_today_arriving.html" target="_blank">[장바구니]주문/결제_비회원(오늘도착)</a></li>
              <li><a href="../../html/cart/com_1200.html" target="_blank">[장바구니]주문완료</a></li>
              <li><a href="../../html/cart/recent_view.html" target="_blank">[장바구니]최근 본 상품</a></li>
              <li><a href="../../html/cart/like.html" target="_blank">[장바구니]찜</a></li>
              <li><a href="../../html/today-arriving/today_arriving_list_no_deliver.html" target="_blank">[오늘도착]초기화면(배송지 미등록일 경우)</a></li>
              <li><a href="../../html/today-arriving/pop_dlr_0101_address_add.html" target="_blank">[오늘도착]배송지추가</a></li>
              <li><a href="../../html/today-arriving/pop_dlr_0101_address_add.html" target="_blank">[오늘도착]배송지수정(같은코드에 타이틀만 변경)</a></li>
              <li><a href="../../html/today-arriving/pop_change_deliver.html" target="_blank">[오늘도착]배송지변경</a></li>
              <li><a href="../../html/today-arriving/today_arriving_list-empty.html" target="_blank">[오늘도착]Empty</a></li>
              <li><a href="../../html/today-arriving/today_arriving_list.html" target="_blank">[오늘도착]오늘도착 상품리스트</a></li>
              <li><a href="../../html/today-arriving/today_arriving_detail.html" target="_blank">[오늘도착]오늘도착 상품페이지</a></li>
              <li><a href="../../html/customer-service/csc.html" target="_blank">[고객센터]초기화면_회원</a></li>
              <li><a href="../../html/customer-service/csc_non-members.html" target="_blank">[고객센터]초기화면_비회원</a></li>
              <li><a href="../../html/customer-service/my_qna_empty.html" target="_blank">[고객센터]나의문의/답변(1:1문의 Empty)</a></li>
              <li><a href="../../html/customer-service/my_ask.html" target="_blank">[고객센터]나의문의/답변(1:1문의 노출)</a></li>
              <li><a href="../../html/customer-service/new-personal-requirement.html" target="_blank">[고객센터]1:1문의 작성</a></li>
              <li><a href="../../html/customer-service/order-item-check-popup.html" target="_blank">[고객센터]주문상품 조회</a></li>
              <li><a href="../../html/customer-service/my_prd_ask_empty.html" target="_blank">[고객센터]나의문의/답변(Q&A Empty)</a></li>
              <li><a href="../../html/customer-service/my_prd_ask.html" target="_blank">[고객센터]나의문의/답변(Q&A 노출)</a></li>
              <li><a href="../../html/customer-service/faq.html" target="_blank">[고객센터]FAQ</a></li>
              <li><a href="../../html/customer-service/notice.html" target="_blank">[고객센터]Notice</a></li>
            </ul>
          </div>
        </div>
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            2021.02.01
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="../../html/gift/com_1300.html" target="_blank">[선물하기]주문서 작성</a></li>
              <li><a href="../../html/gift/com_1301.html" target="_blank">[선물하기]주문완료</a></li>
              <li><a href="../../html/gift/com_1302.html" target="_blank">[선물하기]선물하기 인증</a></li>
              <li><a href="../../html/gift/com_1303.html" target="_blank">[선물하기]배송정보</a></li>
              <li><a href="../../html/gift/com_1304.html" target="_blank">[선물하기]받은선물함</a></li>
              <li><a href="../../html/empty-case/com_0100_empty.html" target="_blank">[empty case]검색영역</a></li>
              <li><a href="../../html/empty-case/com_0301_empty.html" target="_blank">[empty case]찜목록</a></li>
              <li><a href="../../html/empty-case/com_0302_empty.html" target="_blank">[empty case]최근본상품</a></li>
              <li><a href="../../html/empty-case/com_0600_empty.html" target="_blank">[empty case]상품목록</a></li>
              <li><a href="../../html/empty-case/com_1000_empty.html" target="_blank">[empty case]장바구니</a></li>
              <li><a href="../../html/empty-case/csc_0109_empty.html" target="_blank">[empty case]FAQ</a></li>
              <li><a href="../../html/empty-case/csc_0200_empty.html" target="_blank">[empty case]1:1문의</a></li>
              <li><a href="../../html/empty-case/csc_0300_empty.html" target="_blank">[empty case]나의상품Q&A</a></li>
              <li><a href="../../html/empty-case/csc_0400_empty.html" target="_blank">[empty case]Notice</a></li>
              <li><a href="../../html/empty-case/csc_0500_empty.html" target="_blank">[empty case]주문상품조회</a></li>
              <li><a href="../../html/empty-case/dlr_0101_empty.html" target="_blank">[empty case]오늘도착</a></li>
            </ul>
          </div>
        </div>
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            2021.02.03
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="../../html/product-list/com_0603_signature_charm.html" target="_blank">[제품목록]Signature Monthly charm</a></li>
              <li><a href="../../html/product-list/com_0601_Ldiamond.html" target="_blank">[제품목록]L-Diamond</a></li>
              <li><a href="../../html/product-list/com_0606_Ldiamond.html" target="_blank">[제품목록]L-Diamond</a></li>
              <li><a href="../../html/product-list/com_0603_event.html" target="_blank">[제품목록] Event</a></li>
              <li><a href="../../html/ar-service/ar-guide.html" target="_blank">[AR] AR Guide</a></li>
              <li><a href="../../html/ar-service/ar-service.html" target="_blank">[AR] AR - 옵션팝업수정</a></li>
              <li><a href="../../html/login/tab_main_0104.html" target="_blank">[common] Login(통합회원)</a></li>
              <li><a href="../../html/login/tab_main_0105.html" target="_blank">[common] Login(비회원)</a></li>
              <li><a href="../../html/today-arriving/pop_change_deliver.html" target="_blank">[오늘도착] 배송지관리 팝업</a></li>
              <li><a href="../../html/today-arriving/pop_dlr_0101_address_add.html" target="_blank">[오늘도착] 배송지등록 팝업</a></li>
              <li><a href="../../html/today-arriving/pop_dlr_0101_nonmember.html" target="_blank">[오늘도착] 배송지등록 팝업(비회원)</a></li>
              <li><a href="../../html/today-arriving/pop_dlr_0104.html" target="_blank">[오늘도착] 오늘도착안내 팝업</a></li>
              <li><a href="../../html/today-arriving/today_arriving_detail.html" target="_blank">[오늘도착] 상세 옵션 팝업(공통)</a></li>
              <li><a href="../../html/today-arriving/pop_jwr_0103_Option_new.html" target="_blank">[오늘도착] 상세 옵션 팝업(배송지 없는 경우)</a></li>
              <li><a href="../../html/today-arriving/today_arriving_list_no_deliver.html" target="_blank">[오늘도착] 초기화면(배송지 미등록일 경우)</a></li>
              <li><a href="../../html/empty-case/com_0301_empty.html" target="_blank">[empty case]찜목록</a></li>
              <li><a href="../../html/empty-case/com_0302_empty.html" target="_blank">[empty case]최근본상품</a></li>
              <li><a href="../../html/empty-case/com_0600_empty.html" target="_blank">[empty case]상품목록</a></li>
              <li><a href="../../html/empty-case/com_1000_empty.html" target="_blank">[empty case]장바구니</a></li>
              <li><a href="../../html/empty-case/csc_0109_empty.html" target="_blank">[empty case]FAQ</a></li>
              <li><a href="../../html/empty-case/csc_0200_empty.html" target="_blank">[empty case]1:1문의</a></li>
              <li><a href="../../html/empty-case/csc_0300_empty.html" target="_blank">[empty case]나의상품Q&A</a></li>
              <li><a href="../../html/empty-case/csc_0400_empty.html" target="_blank">[empty case]Notice</a></li>
              <li><a href="../../html/empty-case/csc_0500_empty.html" target="_blank">[empty case]주문상품조회</a></li>
              <li><a href="../../html/empty-case/dlr_0101_empty.html" target="_blank">[empty case]오늘도착</a></li>
            </ul>
          </div>
        </div>
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            2021.02.05
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="../../html/search/com_0100_no_recent.html" target="_blank">[common]검색영역(최근 검색어 없음)</a></li>
              <li><a href="../../html/search/com_0100.html" target="_blank">[common]검색영역</a></li>
              <li><a href="../../html/search/com_0100_empty.html" target="_blank">[common]검색영역(empty)</a></li>
              <li><a href="../../html/search/com_0101.html" target="_blank">[common]검색영역(자동완성)</a></li>
              <li><a href="../../html/search/com_0102.html" target="_blank">[common]검색영역(검색결과)</a></li>
              <li><a href="../../html/product-detail/product_detail_guide.html" target="_blank">[제품상세]Guide</a></li>
              <li><a href="../../html/product-detail/product_detail.html" target="_blank">[제품상세]Detail</a></li>
              <li><a href="../../html/product-detail/product_qna_empty.html" target="_blank">[제품상세]qna empty</a></li>
              <li><a href="../../html/product-detail/product_qna_popup.html" target="_blank">[제품상세]qna popup</a></li>
              <li><a href="../../html/product-detail/product_qna_popup_finish.html" target="_blank">[제품상세]qna finish</a></li>
              <li><a href="../../html/cart/com_1000_empty.html" target="_blank">[장바구니]Empty</a></li>
              <li><a href="../../html/cart/com_1000.html" target="_blank">[장바구니]Page</a></li>
              <li><a href="../../html/cart/com_1100_member_no_input.html" target="_blank">[장바구니]주문/결제 회원</a></li>
              <li><a href="../../html/cart/com_1200.html" target="_blank">[장바구니]주문완료</a></li>
              <li><a href="../../html/customer-service/csc.html" target="_blank">[고객센터]초기화면</a></li>
              <li><a href="../../html/customer-service/csc_empty.html" target="_blank">[고객센터]초기화면(문의내역 empty)</a></li>
              <li><a href="../../html/customer-service/com_0400_notice_popup.html" target="_blank">[고객센터]공지사항 팝업</a></li>
              <li><a href="../../html/customer-service/my_ask.html" target="_blank">[고객센터]1:1문의</a></li>
              <li><a href="../../html/customer-service/my_prd_ask.html" target="_blank">[고객센터]나의상품Q&A</a></li>
              <li><a href="../../html/customer-service/my_prd_ask_empty.html" target="_blank">[고객센터]나의문의(empty)</a></li>
              <li><a href="../../html/gift/com_1300.html" target="_blank">[선물하기]주문서 작성</a></li>
              <li><a href="../../html/gift/com_1301.html" target="_blank">[선물하기]주문완료</a></li>
              <li><a href="../../html/gift/com_1302.html" target="_blank">[선물하기]선물하기 인증</a></li>
              <li><a href="../../html/gift/com_1303.html" target="_blank">[선물하기]선물 배송정보</a></li>
            </ul>
          </div>
        </div>
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            2021.02.09
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="../../html/my-page/my_page.html" target="_blank">[마이페이지]sub main</a></li>
              <li><a href="../../html/my-page/pop_myp_0102.html" target="_blank">[마이페이지]구매등급 팝업</a></li>
              <li><a href="../../html/my-page/pop_myp_0103.html" target="_blank">[마이페이지]앱설정 팝업</a></li>
              <li><a href="../../html/my-page/myp_0401.html" target="_blank">[마이페이지]환불계좌 관리</a></li>
              <li><a href="../../html/my-page/myp_0401_empty.html" target="_blank">[마이페이지]환불계좌 관리(empty)</a></li>
              <li><a href="../../html/my-page/myp_0402.html" target="_blank">[마이페이지]환불계좌 등록</a></li>
            </ul>
          </div>
        </div>
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            2021.02.10
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="../../html/about/com_0200_brand.html" target="_blank">[common]어바웃로이드-브랜드스토리</a></li>
              <li><a href="../../html/about/com_0201_store.html" target="_blank">[common]어바웃로이드-매장안내</a></li>
              <li><a href="../../html/about/com_0201_store_empty.html" target="_blank">[common]어바웃로이드-매장안내(empty)</a></li>
              <li><a href="../../html/my-page/myp_0302.html" target="_blank">[마이페이지]상품정보-최근본상품</a></li>
              <li><a href="../../html/my-page/myp_0303.html" target="_blank">[마이페이지]상품정보-재입고 알림내역</a></li>
              <li><a href="../../html/my-page/myp_0400.html" target="_blank">[마이페이지]회원정보-배송지관리</a></li>
              <li><a href="../../html/my-page/tab_myp_0202.html" target="_blank">[마이페이지]쇼핑정보-나의 상품평</a></li>
              <li><a href="../../html/my-page/tab_myp_0202_empty.html" target="_blank">[마이페이지]쇼핑정보-나의 상품평(empty)</a></li>
              <li><a href="../../html/my-page/tab_myp_0206.html" target="_blank">[마이페이지]쇼핑정보-로이드 포인트 조회</a></li>
              <li><a href="../../html/my-page/tab_myp_0206_empty.html" target="_blank">[마이페이지]쇼핑정보-로이드 포인트 조회(empty)</a></li>
            </ul>
          </div>
        </div>
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            2021.02.17
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="../../html/product-detail/event.html" target="_blank">[이벤트]이벤트 및 기획전 빈페이지</a></li>
              <li><a href="../../html/gift/com_1304.html" target="_blank">[선물하기]받은 선물함 수정</a></li>
              <li><a href="../../html/cart/com_1100_member_no_input.html" target="_blank">[장바구니]사은품 수량버튼 삭제</a></li>
              <li><a href="../../html/my-page/myp_0200.html" target="_blank">[마이페이지]주문/배송 조회</a></li>
              <li><a href="../../html/my-page/myp_0200_empty.html" target="_blank">[마이페이지]주문/배송 조회(empty)</a></li>
              <li><a href="../../html/my-page/myp_0210.html" target="_blank">[마이페이지]주문 상세 팝업</a></li>
              <li><a href="../../html/my-page/myp_0210_cancel.html" target="_blank">[마이페이지]주문 상세 팝업(취소/교환/반품)</a></li>
              <li><a href="../../html/my-page/myp_0210_gift.html" target="_blank">[마이페이지]주문 상세 팝업(선물하기)</a></li>
              <li><a href="../../html/my-page/myp_0211.html" target="_blank">[마이페이지]주문 취소 신청</a></li>
              <li><a href="../../html/my-page/myp_0213.html" target="_blank">[마이페이지]교환 신청</a></li>
              <li><a href="../../html/my-page/myp_0214.html" target="_blank">[마이페이지]교환 신청 완료</a></li>
              <li><a href="../../html/my-page/myp_0215.html" target="_blank">[마이페이지]반품 신청</a></li>
              <li><a href="../../html/my-page/myp_0216.html" target="_blank">[마이페이지]반품 신청 완료</a></li>
              <li><a href="../../html/my-page/myp_0220_cancel.html" target="_blank">[마이페이지]취소/교환/반품내역-취소</a></li>
              <li><a href="../../html/my-page/myp_0220_exchange.html" target="_blank">[마이페이지]취소/교환/반품내역-교환</a></li>
              <li><a href="../../html/my-page/myp_0220_return.html" target="_blank">[마이페이지]취소/교환/반품내역-반품내역</a></li>
              <li><a href="../../html/my-page/myp_0220_empty.html" target="_blank">[마이페이지]취소/교환/반품내역(empty)</a></li>
            </ul>
          </div>
        </div>
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            2021.02.19
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="../../html/my-page/myp_0200.html" target="_blank">[마이페이지]기간조회 영역</a></li>
              <li><a href="../../html/my-page/myp_0301.html" target="_blank">[마이페이지]찜</a></li>
              <li><a href="../../html/my-page/myp_0301_empty.html" target="_blank">[마이페이지]찜(empty)</a></li>
              <li><a href="../../html/my-page/pop_myp_0101.html" target="_blank">[마이페이지]바코드 팝업</a></li>
              <li><a href="../../html/my-page/myp_0208.html" target="_blank">[마이페이지]쿠폰 조회</a></li>
              <li><a href="../../html/my-page/myp_0208_empty.html" target="_blank">[마이페이지]쿠폰 조회(empty)</a></li>
              <li><a href="../../html/my-page/pop_com_0709.html" target="_blank">[마이페이지]영수증 팝업</a></li>
              <li><a href="../../html/my-page/myp_0211.html" target="_blank">[마이페이지]부분 취소/반품/교환 플로우(수량선택박스 추가)</a></li>
              <li><a href="../../html/my-page/myp_0210_cancel.html" target="_blank">[마이페이지]주문상세 환불정보 수정</a></li>
              <li><a href="../../html/customer-service/csc_0100.html" target="_blank">[고객센터]FAQ 검색결과</a></li>
              <li><a href="../../html/about/com_0201_store.html" target="_blank">[common]어바웃로이드-매장안내(운영시간 추가)</a></li>
              <li><a href="../../html/product-list/com_0603_event.html" target="_blank">[제품목록] Event</a></li>
              <li><a href="../../html/product-list/signature.html" target="_blank">[제품목록]Signature</a></li>
              <li><a href="../../html/product-list/jewelry_all.html" target="_blank">[제품목록]기획전 한글 제목 추가</a></li>
            </ul>
          </div>
        </div>
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            2021.02.23
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="../../html/main/main_0100.html" target="_blank">[메인]메인페이지</a></li>
              <li><a href="../../html/main/main_0101.html" target="_blank">[메인]Splash</a></li>
              <li><a href="../../html/main/main_0102.html" target="_blank">[메인]접근권한 확인</a></li>
              <li><a href="../../html/main/main_0103.html" target="_blank">[메인]접근권한 알림 팝업</a></li>
            </ul>
          </div>
        </div>
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            2021.02.26
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="../../html/product-detail/event_detail.html" target="_blank">[기획전]기획전 상세</a></li>
              <li><a href="../../html/product-detail/pop_jwr_0103_option_first.html" target="_blank">[제품상세]옵션팝업 선물하기 툴팁</a></li>
              <li><a href="../../html/cart/com_1000.html" target="_blank">[장바구니]장바구니 페이지 수정</a></li>
            </ul>
          </div>
        </div>
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            2021.03.05
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="../../html/product-detail/product_detail.html" target="_blank">[제품상세]6DOF 팝업</a></li>
              <li><a href="../../html/about/com_0204.html" target="_blank">[어바웃로이드]대리점개설문의 페이지</a></li>
            </ul>
          </div>
        </div>
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            2021.03.10
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="../../html/product-list/gift.html" target="_blank">[상품목록]gift 페이지 가격대 탭 추가</a></li>
              <li><a href="../../html/my-page/myp_0210_cancel.html" target="_blank">[마이페이지]주문 취소 사유 추가</a></li>
              <li><a href="../../html/my-page/myp_0208.html" target="_blank">[마이페이지]쿠폰조회 페이지 수정</a></li>
              <li><a href="../../html/cart/com_1100_member_no_input.html" target="_blank">[장바구니]주문결제 화면들 무통장입금 케이스 추가</a></li>
              <li><a href="../../html/gift/com_1300.html" target="_blank">[선물하기]주문서작성 무통장입금 케이스 추가</a></li>
              <li><a href="../../html/gift/com_1300.html" target="_blank">[선물하기]약관동의 수정</a></li>
              <li><a href="../../html/gift/com_1300_nonmember.html" target="_blank">[선물하기]약관동의 비회원 화면 추가</a></li>
            </ul>
          </div>
        </div>
        <div class="buy-accordion">
          <div class="buy-accordion-label">
            2021.03.18
          </div>
          <div class="buy-accordion-box">
            <ul>
              <li><a href="../../html/ar-service/ar-service.html" target="_blank">[AR]AR 페이지</a></li>
              <li><a href="../../html/ar-service/ar-guide.html" target="_blank">[AR]AR Guide</a></li>
              <li><a href="../../html/main/main_0100.html" target="_blank">[main] main bottom bar</a></li>
              <li><a href="../../html/main/main_0100_first.html" target="_blank">[main] main bottom bar 초기</a></li>
              <li><a href="../../html/main/ars_tooltip_flow.html" target="_blank">[main] main guide</a></li>
              <li><a href="../../html/product-detail/product_detail_guide.html" target="_blank">[제품상세] 상세 guide</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- //container -->
  </div>
  <!-- //wrapper -->
  <script src="../../assets/js/vendors/jquery_3.4.0.min.js"></script>
  <script src="../../assets/js/vendors/swiper-bundle.min.js"></script>
  <script src="../../assets/js/ui.js"></script>
</body>
</html>